<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570572404685-hkk8nfemi0hb5rbupfpdd5a2vd8k3e2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570572404685-hkk8nfemi0hb5rbupfpdd5a2vd8k3e2a</string>
	<key>API_KEY</key>
	<string>AIzaSyAoc0IixYTc_Jx5iNPZib0k0ysuBbwkRus</string>
	<key>GCM_SENDER_ID</key>
	<string>570572404685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.S-M.ReserveYourSpot</string>
	<key>PROJECT_ID</key>
	<string>reserveyourspot-59439</string>
	<key>STORAGE_BUCKET</key>
	<string>reserveyourspot-59439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:570572404685:ios:2e29c51cc9103827</string>
	<key>DATABASE_URL</key>
	<string>https://reserveyourspot-59439.firebaseio.com</string>
</dict>
</plist>
